#container {
    width: 100vw;
    height: 100vh;
    margin: 0 auto;
    display: grid;
    place-items: center;
}

#container > div {
    height: 30vh;
    display: grid;
    place-items: center;
}
