@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&family=Open+Sans&display=swap');

body {
    padding: 0;
    background-color: gray;
    margin: 0;
    height: 100%;
    width: 100%;
    position: fixed;
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
}

input {
    width: 100%;
    position: absolute;
    top: -1000px;
}

button {
    background-color: gray;
    border: 1px solid darkgray;
    padding: 10px;
    outline: none;
}

a {
    text-decoration: none;
    color: white;
}

.hidden {
    display: none !important;
}

.clicked {
    background-color: darkcyan;
}

#reconnect {
    position: absolute;
    width: 100vw;
    background-color: #ff6600;
    z-index: 10;
}
